*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;   
}

body{
   
   box-sizing: border-box;
}


    .contenido{
        width: 95%;
        margin: 0 auto;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.446), rgb(170, 156, 2),rgba(0, 0, 0, 0.446));
        text-align: center;
       font-family:  'Arial Narrow Bold', sans-serif;
       font-size: large;
       box-sizing: border-box;
       
    }
   
    

    .seccion {
        margin-bottom: 20px;
        padding: 0s;
        margin: auto;
        
        display: block;
        gap: 10px;

    }

    .seccion p{
        font-size: large;
        color: black;
        font-family:'Times New Roman', Times, serif;
        box-sizing: content-box;
    }
    #banner {
        box-align: left;
        display: table;
        width: 12%;
        height: 150px;
        background-color: #f7f7f7;
        color: #fff;
        margin-top: 18px;
    
    }
h2{
    padding-top: 20px;
    font-size: medium;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    text-align: center;
    
}

h1{
    
    text-align: center;
    
    
    color: rgb(255, 255, 255);
    padding: 10px;
    
    box-sizing: border-box;
    
    
}  



nav ul{
    font-size: x-large;
    width: 100%;
    text-align: left;
    list-style-type: none;
    padding: 50px;
    background: linear-gradient(to right, rgba(253, 142, 7, 0.579), rgb(255, 240, 73),rgba(253, 142, 7, 0.579));
    box-sizing: border-box;




}


.enlaces {
	
	top: 20px;

	padding: 30px;
	border-radius: 5px;
	
	display: inline-block;
    background: rgba(175, 193, 235, 0.8);
	gap: 10px;
}
img{
    
    box-sizing: border-box;
}

nav li{
    display:inline-flex;
    
}

nav li:hover {
transform: translateY(10px);
}

nav a{
    display: inline-flex;
    text-decoration: none;
font-size: larger;
    color: rgb(0, 0, 0);
    width: 150px;
    transition: .3s ease all;
}
.three-col-cell {
    
	display: table-cell;
	float: left;
	width: calc((100% / 3) - 6px);
    min-height: calc(100% / 3 - 211px - 58px);

}
p{
    font-size: large;
    color: rgb(54, 54, 54);
    text-align: center;
    box-sizing: border-box;
}
.sub {
	font-size: 95%;
	padding: 3px 0;
	margin: 0;
}
.clear {
	clear: both;
}
.gallery {
	/*
    colors optional 
	background-color: #87b;
	color:#fff;
	*/
    
	text-align: center;
	padding: 10px 0;
	margin: 1px;
    box-sizing: border-box;
    
}
.gallery img {
	width: 90%;
    box-sizing: border-box;

}


footer{
    width: 100%;
    text-align: center;
    padding: 15px;
    background: rgb(94, 163, 156,.2) ;
    font-size: 75%;
    border-top: 1px solid rgb(94,163,154);
    position: fixed;
    bottom: 0;
    
} 
